<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=<div >">
    <title>Add Movie</title>
</head>

<body>
    <div class="head">
        <h1>Add Movie</h1>
    </div>
    <div class="body">
        <form action="{% url 'movies:AddMovie' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>
                        Movie Name:
                    </th>
                    <td>
                        <input type="text" value="" name="movie_name" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Release Date:
                    </th>
                    <td>
                        <input type="date" name="movie_release_date" max="2020-12-31" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Summary:
                    </th>
                    <td>
                        <textarea name="movie_summary" draggable="false" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="ADD MOVIE" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>