{% extends "base.html" %} {% block content %}
<div class="head">
    <h1>Movies App</h1>
</div>
<div class="body">
    <h3>Click on Links To Navigate:</h3>
    <ul>
        <li>
            <a href="{% url 'movies:Home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'movies:View' %}">View Movies</a>
        </li>
        <li>
            <a href="{% url 'movies:Add' %}">Add Movie</a>
        </li>
        <li>
            <a href="{% url 'movies:Edit' %}">Edit Movie</a>
        </li>
    </ul>
</div>
{% endblock %}