{% extends "base.html" %} {% block title %}View Movies{% endblock %} {% block content %}
<div class="movies row">
    {% for movie in movies_list %}
    <div class="col-sm-3">
        <div class="movie card h-100" style="width: 18rem">
            <div class="card-body text-center">
                <h1 class="movie-name card-title">{{movie.movie_name}}</h1>
                <h2 class="movie-release-date card-subtitle mb-2 text-muted">{{movie.movie_release_date}}</h2>
                <p class="movie-summary card-text">{{movie.movie_summary}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}